body {
	background-color: #ededed;
}

.thumbnail {
	max-width: 75px;
}

.profile {
	max-width: 325px;
}

.bgImage {
	background-image: url("akshay-chauhan-tJ8VGRqEUDg-unsplash.jpg");
	background-size: 1400px 700px;
}

.dark-theme {
	background-color: #15202B;
}

.dark-theme h1 {
	color: white;
}

.dark-theme h2 {
	color: white;
}

.dark-theme h3 {
	color: white;
}

.dark-theme h4 {
	color: white;
}

.dark-theme h5 {
	color: white;
}

.dark-theme h6 {
	color: white;
}

.table {
	border: 0px 0px 1px 0px solid white;
}

.error-message {
	background-color: red;
}

.list {
	padding: 20px 75px;
}

.content {
	 margin-top: -100px;
	 margin-left: 90px;
}

.mp-card {
	max-width: 30rem;
	height: 150px;
}
<<<<<<< HEAD
.Center {
  display: flex;
  align-items: center;
  justify-content: center;
}
#child {
    line-height: 666px;
}
#child1 {
	line-height: 600px
}
=======

.footer {
	background-color: #1A1A1A;
	height: 100px;
}

.footer img {
	max-height: 50px;
	margin-left: 20px;
	margin-top: 20px;
}

.header {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 10;
	height: 100px;
	max-height: 100px;
}

.page-content {
	padding-top: 120px;
}

/* .logo { */
/* 	height: 90px; */
/* } */
>>>>>>> c41d9e2cb134a74155ff30cfad4aabe0bfcd09cf
