body {
	background-color: #ededed;
}

.thumbnail {
	max-width: 75px;
	width: 75px;
	max-height: 115px;
}

.profile {
	max-width: 325px;
}

.bgImage {
	background-image: url("akshay-chauhan-tJ8VGRqEUDg-unsplash.jpg");
	background-size: 1400px 700px;
}

.dark-theme {
	background-color: #15202B;
}

.dark-theme h1 {
	color: white;
}

.dark-theme h2 {
	color: white;
}

.dark-theme h3 {
	color: white;
}

.dark-theme h4 {
	color: white;
}

.dark-theme h5 {
	color: white;
}

.dark-theme h6 {
	color: white;
}

.table {
	border: 0px 0px 1px 0px solid white;
}

.error-message {
	background-color: red;
}

.list {
	padding: 20px 75px;
}

.card-content {
	margin-top: -115px;
	margin-left: 90px;
	max-height: 150px;
	margin-bottom: 10px;
}

.mp-card {
	max-width: 35rem;
/* 	min-height: 150px; */
	height: 200px;
	overflow: hidden;
}

.center {
	text-align: center;
}

.login {
	padding-top: 200px;
}

.footer p {
	color: white;
}

.footer a:link {
	color: #919AA1;
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}

.footer {
	background-color: #1A1A1A;
	height: 120px;
	position: relative;
	bottom: 0;
	max-height: 120px;
	padding-left: 20px;
	padding-top: 20px;
	width: 100%;
}

.footer img {
	max-height: 50px;
}

.header {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 10;
	height: 100px;
	max-height: 100px;
}

.page-content {
	padding-top: 120px;
}

.mp-card a:link {
	color: white;
	text-decoration: none;
}

.mp-card a:visited {
	color: white;
	text-decoration: none;
}

.mp-card a:hover {
  text-decoration: underline;
}

.summary {
	padding-left: 25px;
	padding-right: 25px;
}
