body {
	background-color: #ededed;
}

html, body {
	height: 100%;
}

.thumbnail {
	max-width: 75px;
	width: 75px;
	max-height: 115px;
}

.profile {
	max-width: 325px;
}

.bgImage {
	background-image: url("akshay-chauhan-tJ8VGRqEUDg-unsplash.jpg");
	background-size: 1400px 700px;
}

.dark-theme {
	background-color: #15202B;
}

.dark-theme h1 {
	color: white;
}

.dark-theme h2 {
	color: white;
}

.dark-theme h3 {
	color: white;
}

.dark-theme h4 {
	color: white;
}

.dark-theme h5 {
	color: white;
}

.dark-theme h6 {
	color: white;
}

.error-message {
	background-color: red;
}

.list {
	padding: 20px 75px;
}

.card-content {
	margin-top: -115px;
	margin-left: 90px;
	max-height: 150px;
	margin-bottom: 10px;
}

.mp-card {
	max-width: 30rem;
/* 	min-height: 150px; */
	height: 200px;
	overflow: hidden;
}

.center {
	text-align: center;
}

.login {
	padding-top: 200px;
}

.foot {
	background-color: #1A1A1A;
	height: 120px;
	position: relative;
	bottom: 0px;
	padding-left: 20px;
	padding-top: 20px;
	margin-bottom: 0px;
	width: 100%;
}

.foot p {
	color: white;
}

.foot a:link {
	color: white;
	text-decoration: none;
}

.foot a:visited {
	color: white;
	text-decoration: none;
}

.foot a:hover {
	text-decoration: underline;
}

.foot img {
	max-height: 50px;
}

.header {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 10;
	height: 100px;
	max-height: 100px;
}

.page-content {
	padding-top: 120px;
	min-height: 100%;
}

.mp-card a:link {
	color: white;
	text-decoration: none;
}

.mp-card a:visited {
	color: white;
	text-decoration: none;
}

.mp-card a:hover {
  	text-decoration: underline;
}

.summary {
	padding-left: 25px;
	padding-right: 25px;
	margin-left: 365px;
	margin-top: 25px;
	position: absolute;
	top: 100px;
}

.avatar-profile {
	width: 365px;
	padding-left: 20px;
	padding-bottom: 25px;
	padding-top: 25px;
	background-color: #0b1014;
}

.credits {
	padding: 20px 20px 20px 20px;
}
